__pycache__/
*.pyc
.DS_Store
*.swp
local_settings.py
.venv/
venv/
*.log
db.sqlite3
/media
/staticfiles
*.pem

forum.service
gunicorn_start
nginx
ssmtp.conf
backup_postgres.sh
muttrc
masive.py
masive1.py