{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Mi Aplicación{% endblock %}</title>
  
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'app/style.css' %}">

  
  
</head>
<body>
  <section class="layout">
    <div class="header">
      {% include 'app/navbar.html' %}
    </div>
    <div class="main">
      {% block content %}
      {% endblock %}
    </div> 
    <div class="footer">
      <p>Desarrollado por: <a href="https://www.linkedin.com/in/leanderperezg/">Ing. Leander Pérez</a></p>
    </div>
    
  </section>

  <script src="{% static 'app/script.js' %}"></script>
  <script src="{% static 'app/datatable.js' %}"></script>

</body>
</html>
