{% extends 'app/base.html' %}
{% block title %}Gestión de Reportes GEEI{% endblock %}

{% block content %}
<div style="display: flex;">
    <div style="width: 40%; padding: 5px;">
        <div class="form-content">
            <div class="form-items">
                <form method="post">
                    {% csrf_token %}
        
                    <label for="fecha_inicio">Fecha Inicio:</label>
                    <input type="date" class="form-control" name="fecha_inicio" id="fecha_inicio">
        
                    <label for="fecha_fin">Fecha Fin:</label>
                    <input type="date" class="form-control" name="fecha_fin" id="fecha_fin">
        
                    <select name="clasificacion" class="form-select mt-3" id="clasificacion">
                        <option value="">Clasificación</option>
                        {% for clasificacion in clasificaciones %}
                            <option value="{{ clasificacion }}">{{ clasificacion }}</option>
                        {% endfor %}
                    </select>
        
                    <select name="sucursales" class="form-select mt-3" id="sucursales" multiple>
                        {% for sucursal in sucursales_list %}
                            <option value="{{ sucursal }}">{{ sucursal }}</option>
                        {% endfor %}
                    </select>
        
                    <select name="personal" class="form-select mt-3" id="personal">
                        <option value="">Personal de atención</option>
                        {% for personal in personal %}
                            <option value="{{ personal }}">{{ personal }}</option>
                        {% endfor %}
                    </select>
                    
                    <div class="form-button mt-3">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="width: 60%; padding: 5px;">
        <div id="tabs">
            <button class="tablinks" onclick="openTab(event, 'Clasificacion')" id="defaultOpen">Clasificación</button>
            <button class="tablinks" onclick="openTab(event, 'Sucursales')">Sucursales</button>
            <button class="tablinks" onclick="openTab(event, 'Kilos')">Refrigerantes</button>
            <button class="tablinks" onclick="openTab(event, 'Costos')">Costos</button>

            <div id="Clasificacion" class="tabcontent">
                <div style="display: flex; flex-direction: column;">
                    <div>{{ fig1|safe }}</div>
                    <div style="height: 5px;"></div>
                    <div>{{ fig2|safe }}</div>
                </div>
            </div>

            <div id="Sucursales" class="tabcontent">
                <div style="display: flex; flex-direction: column;">
                    <div>{{ fig3|safe }}</div>
                    <div style="height: 5px;"></div>
                    <div>{{ fig4|safe }}</div>
                </div>
            </div>

            <div id="Kilos" class="tabcontent">
                <div style="display: flex; flex-direction: column;">
                    <div>{{ fig5|safe }}</div>
                    <div style="height: 5px;"></div>
                    <div>{{ fig6|safe }}</div>
                </div>
            </div>

            <div id="Costos" class="tabcontent">
                <div style="display: flex; flex-direction: column;">
                    <div>{{ fig7|safe }}</div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Abre la pestaña predeterminada al cargar la página
    document.getElementById("defaultOpen").click();
</script>
{% endblock %}
