{% extends 'app/base.html' %}
{% block title %}Gestión de Reportes GEEI{% endblock %}


{% block content %}
<div style="display: flex;">
    <div style="width: 20%; padding: 5px;">
        <form method="post">
            {% csrf_token %}
            <label for="fecha_inicio">Fecha Inicio:</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio"><br><br>
            <label for="fecha_fin">Fecha Fin:</label>
            <input type="date" name="fecha_fin" id="fecha_fin"><br><br>
            <label for="clasificacion">Clasificación:</label>
            <select name="clasificacion" id="clasificacion">
                <option value="">Todos</option>
                {% for clasificacion in clasificaciones %}
                    <option value="{{ clasificacion }}">{{ clasificacion }}</option>
                {% endfor %}
            </select><br><br>
            <label for="sucursales">Sucursales:</label>
            <select name="sucursales" id="sucursales" multiple>
                {% for sucursal in sucursales_list %}
                    <option value="{{ sucursal }}">{{ sucursal }}</option>
                {% endfor %}
            </select><br><br>
            <label for="personal">Personal:</label>
            <select name="personal" id="personal">
                <option value="">Todos</option>
                {% for encargado in encargados %}
                    <option value="{{ personal }}">{{ personal }}</option>
                {% endfor %}
            </select><br><br>
            <button type="submit">Filtrar</button>
        </form>
    </div>
    <div style="width: 80%; padding: 5px;">
        <div id="tabs">
            <button class="tablinks" onclick="openTab(event, 'Clasificacion')" id="defaultOpen">Clasificación</button>
            <button class="tablinks" onclick="openTab(event, 'Sucursales')">Sucursales</button>
            <button class="tablinks" onclick="openTab(event, 'Kilos')">Kilos</button>

            <div id="Clasificacion" class="tabcontent">
                <div style="display: flex; flex-direction: column;">
                    <div>{{ fig1|safe }}</div>
                    <div>{{ fig2|safe }}</div>
                </div>
            </div>

            <div id="Sucursales" class="tabcontent">
                <div style="display: flex; flex-direction: column;">
                    <div>{{ fig3|safe }}</div>
                    <div>{{ fig4|safe }}</div>
                </div>
            </div>

            <div id="Kilos" class="tabcontent">
                <div style="display: flex; flex-direction: column;">
                    <div>{{ fig5|safe }}</div>
                    <div>{{ fig6|safe }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }

        // Abre la pestaña predeterminada al cargar la página
        document.getElementById("defaultOpen").click();
</script>
{% endblock %}
