{% extends 'base.html' %}
{% block title %}Gestión de Reportes GEEI{% endblock %}


{% block content %}
<div class="table-responsive">
    <table id="datatable" class="display">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th><input type="text" placeholder="Material" /></th>
                <th>Unidad de medida</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td><input type="number" class="cantidad-input" data-id="{{ material.pk }}" min="0" value="" style="width: 60px;" /></td>
                    <td>{{ material.nombre }}</td>
                    <td>{{ material.unidad_medida }}</td>
                    <td>{{ material.descripcion }}</td>
                    <td><a href="{% url 'editar_material' material.pk %}">Editar</a></td>
                    <td><a href="{% url 'eliminar_material' material.pk %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Cantidad</th>
                <th>Material</th>
                <th>Unidad de medida</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="mt-3">
    <button id="generar-solicitud" class="btn btn-primary">Generar Solicitud</button>
</div>

<div class="modal fade" id="solicitudModal" tabindex="-1" aria-labelledby="solicitudModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="solicitudModalLabel">Información de la Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="solicitud-form" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="sucursal" class="form-label">Sucursal</label>
                        <select id="sucursal" class="form-select">
                            {% for value, label in sucursales %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="observaciones" class="form-label">Observaciones</label>
                        <textarea id="observaciones" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmar-solicitud" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
        $(document).ready(function() {
            var table = $('#datatable').DataTable({
                paging: false,
                scrollCollapse: true,
                scrollY: '60vh',
                layout: {
                    topStart : 'search',
                    bottomStart: 'pageLength',
                    bottomEnd: 'paging',
                    topEnd: {
                        buttons: ['excel','print']
                    },
                    language: {
                        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
                    }
                },
            });

            table.columns().every(function() {
                var that = this;

                $('input', this.header()).on('keyup change', function() {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            // Seleccionar/Deseleccionar todos los checkboxes
            $('#select-all').on('click', function() {
                $('.material-checkbox').prop('checked', this.checked);
            });

            // Obtener el token CSRF desde el formulario
            const csrfToken = "{{ csrf_token }}";

            // Manejar el botón "Generar Solicitud"
            $('#generar-solicitud').on('click', function() {
                const selectedMaterials = [];
                $('.cantidad-input').each(function() {
                    const cantidad = parseInt($(this).val());
                    const materialId = $(this).data('id');
                    if (cantidad > 0) {
                        selectedMaterials.push({ id: materialId, cantidad: cantidad });
                    }
                });

                if (selectedMaterials.length === 0) {
                    alert('Por favor, ingresa una cantidad para al menos un material.');
                    return;
                }

                // Mostrar el modal
                $('#solicitudModal').modal('show');
            });

            // Confirmar la solicitud
            $('#confirmar-solicitud').on('click', function() {
                const sucursal = $('#sucursal').val();
                const observaciones = $('#observaciones').val();
                const selectedMaterials = [];
                $('.cantidad-input').each(function() {
                    const cantidad = parseInt($(this).val());
                    const materialId = $(this).data('id');
                    if (cantidad > 0) {
                        selectedMaterials.push({ id: materialId, cantidad: cantidad });
                    }
                });

                if (!sucursal) {
                    alert('Por favor, selecciona una sucursal.');
                    return;
                }

                // Enviar los datos al servidor
                $.ajax({
                    url: "{% url 'crear_solicitud_material' %}",
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrfToken // Incluir el token CSRF en el encabezado
                    },
                    data: {
                        materiales: JSON.stringify(selectedMaterials),
                        sucursal: sucursal,
                        observaciones: observaciones
                    },
                    success: function(response) {
                        alert('Solicitud generada exitosamente.');
                        location.reload();
                    },
                    error: function(error) {
                        alert('Ocurrió un error al generar la solicitud.');
                    }
                });

                // Cerrar el modal
                $('#solicitudModal').modal('hide');
            });
        });
    </script>
{% endblock %}